{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Password reset sent" %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans "Check your email" %}</h1>
    <br/>
    <p>
    <span class="label label-success">{% trans "Password reset email sent." %}</span>
    </p>
    <p>
    {% trans "If an account exists for the email you entered, you will receive a message with instructions to reset your password shortly." %}
    </p>
    <p>
    {% blocktrans trimmed %}If you do not receive an email within a few minutes, check your spam folder
    or <a href="/password_reset/">try again</a>.{% endblocktrans %}
    </p>
    <p><a href="/login/">{% trans "Back to login" %}</a></p>
</div>
{% endblock %}
