{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans "Reset your password" %}</h1>
    <br/>
    <p>{% trans "Enter your account email address and we'll send you a link to reset your password." %}</p>
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
      {% if form.errors %}
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <span class="error-msg">{% trans "Please enter a valid email address." %}</span>
        </div>
      </div>
      {% endif %}

      <div class="form-group row">
        <label for="email" class="col-sm-2 control-label">{% trans "Email" %}</label>
        <div class="col-sm-6">
          <input required name="email" type="email" class="form-control" id="email" placeholder="{% trans 'Email' %}">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">{% trans "Send reset link" %}</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}
