{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Set new password" %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans "Set a new password" %}</h1>
    <br/>
    {% if validlink %}
    {# ng-non-bindable: error text is inserted by passkey_recover.js; the account
       name below is server-rendered but must not be re-interpolated by AngularJS
       either -- mirrors base.html's own ng-non-bindable username span. Naming the
       account here (Task 16 review) lets someone who followed an attacker's reset
       link see whose account a new passkey would be bound to before creating one. #}
    <div id="passkey-recover" hidden ng-non-bindable data-uidb64="{{ uidb64 }}">
      <p>{% blocktrans trimmed with username=form.user.username %}Create a new passkey for {{ username }} to sign in again.{% endblocktrans %}</p>
      <button type="button" class="btn btn-primary" id="passkey-recover-button">{% trans "Create a new passkey" %}</button>
      <br/><span class="error-msg" id="passkey-recover-error"></span>
      <hr/>
      <p>{% trans "Or set a new password:" %}</p>
    </div>
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
      {% if form.errors %}
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          {% for field in form %}{% for error in field.errors %}
          <span class="error-msg">{{ error }}</span><br/>
          {% endfor %}{% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="form-group row">
        <label for="new_password1" class="col-sm-2 control-label">{% trans "New password" %}</label>
        <div class="col-sm-6">
          <input required name="new_password1" type="password" class="form-control" id="new_password1">
        </div>
      </div>

      <div class="form-group row">
        <label for="new_password2" class="col-sm-2 control-label">{% trans "Repeat password" %}</label>
        <div class="col-sm-6">
          <input required name="new_password2" type="password" class="form-control" id="new_password2">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">{% trans "Change password" %}</button>
        </div>
      </div>
    </form>
    {% else %}
    <p>
    <span class="label label-danger">{% trans "This password reset link is invalid or has expired." %}</span>
    </p>
    <p>
    {% blocktrans trimmed %}It may have already been used. Please
    <a href="/password_reset/">request a new reset link</a>.{% endblocktrans %}
    </p>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'passkey.js' %}"></script>
<script src="{% static 'passkey_recover.js' %}"></script>
{% endblock %}
