{% extends 'base.html' %}

{% load static %}

{% block title %}Reset password{% endblock %}

{% block body %}
<div class="container">
    <h1>Reset your password</h1>
    <br/>
    <p>Enter your account email address and we'll send you a link to reset your password.</p>
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
      {% if form.errors %}
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <span class="error-msg">Please enter a valid email address.</span>
        </div>
      </div>
      {% endif %}

      <div class="form-group row">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
          <input required name="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Send reset link</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}
