{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans "Validate your e-mail" %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{% trans "Validate your e-mail" %}</h1>
    <br/>
    <p>
    <span class="label label-success">{% trans "Your registration was successful!" %}</span>
    </p>
    <p>
    {% trans "Please check your inbox for an e-mail containing instructions on validating your e-mail address." %}
    </p>
    <p>
    {% blocktrans trimmed %}If you do not receive an e-mail within 5-10 minutes, please try <a href="/signup/">registering your account</a> again.{% endblocktrans %}
    </p>
</div>
{% endblock %}
